@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

/* sheared style  */

.red-font {
  color: rgb(255, 0, 0);
}

/* sheared style  */

/* banner section styles */

.banner-container {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 600px;
  margin-top: 20px;
  background-image: linear-gradient(rgba(7, 2, 17, 0.9), rgba(255, 255, 255, 0)),
    url("images/Banner\ Image.png");
  background-position: center;
  background-size: cover;
  border-radius: 7px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.banner-content p {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 400;
}
.banner-content h1 {
  color: rgb(255, 255, 255);
  font-size: 65px;
  font-weight: 900;
  align-items: center;
  font-family: sans-serif;
}

/* 65% section styles */

.second-section-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 40px;
}
.second-section-content {
  text-align: center;
}
.second-section-content h1 {
  font-size: 65px;
  font-family: Inter;
  font-weight: 700;
  color: rgb(255, 0, 0);
  padding-bottom: 20px;
}
.second-section-content h4 {
  font-size: 16px;
  color: rgb(255, 0, 0);
  font-family: Inter;
}
.second-section-content h3 {
  padding-top: 10px;
  font-size: 35px;
  font-weight: 700;
  color: rgb(7, 2, 17);
  font-family: Inter;
}
.second-section-content .images {
  margin-top: 23px;
  width: 500px;
}

/* midnight section styles  */

.midnight-container {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 600px;
  margin-top: 20px;
  background-image: linear-gradient(rgba(7, 2, 17, 0.9), rgba(255, 255, 255, 0)),
    url("images/Vectorrr.png");
  background-position: center;
  background-size: cover;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.midnight-content {
  color: white;
  width: 530px;
}
.midnight-title {
  font-size: 56px;
  font-weight: 700;
}
.midnight-describtion {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 16px;
  padding-top: 20px;
}
.midnight-btn {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 30px;
  transition: ease 400ms;
  margin-left: 22px;
}
.midnight-btn:hover {
  color: rgb(255, 0, 0);
}

/* midnight section style end here  */

/* address section styles star */

.address-container {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 480px;
  margin-top: 55px;
  margin-bottom: 55px;
  /* border: 1px solid rgba(255, 0, 0, 0.1); */
  border-radius: 7px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0.1) 100%
  );
}

.address-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
}

.address-content .place {
  padding-left: 28px;
}

span {
  color: rgb(255, 0, 0);
}
.address-btn {
  margin-top: 80px;
  border: none;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  padding: 9px 18px;
  cursor: pointer;
  margin-top: 50px;
  transition: ease 400ms;
  margin-left: 22px;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 5px;
}
.address-btn:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}
/* address section style end here  */

/* firewall section style start  */

.firewall-container {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 480px;
  margin-top: 55px;
  margin-bottom: 55px;
  border: 2px solid tomato;
}
.firewall-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.firewall-left-content {
  width: 400px;
  padding-left: 30px;
}
.firewall-sub {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  color: rgb(255, 0, 0);
  padding-bottom: 10px;
}
.firewall-title {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 20px;
}
.firewall-describtion {
  font-family: sans-serif;
  color: rgba(7, 2, 17, 0.6);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
}

.firewall-middle-content {
  padding-top: 50px;
}
.firewall-middle-content img {
  border: 15px solid red;
  padding: 15px;
  border-radius: 50%;
}
.firewall-right-content {
  width: 400px;
  padding-left: 80px;
  padding-top: 135px;
}
.firewall-right-content h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
  color: rgb(255, 0, 0);
}
.firewall-right-content img {
  padding-top: 50px;
}
/* firewall section end here  */

/* hodiday style start here  */

.holiday-section-container {
  width: 1300px;
  height: 900px;
  margin: 0 auto;
  border: 2px solid purple;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}
.holiday-text-content {
}
.holiday-text-content h5 {
  padding-top: 50px;
  padding-bottom: 30px;
  color: rgb(7, 2, 17);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.holiday-text-content h1 {
  font-size: 55px;
  font-weight: 900;
}

.holiday-text-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  padding-top: 10px;
  width: 950px;
}
.holiday-solid-bg {
  width: 1300px;
  height: 170px;
  background: url(images/Rectangle\ 2.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  margin-top: 52.2%;
}
.gift-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 220px;
}
.gift-box #gift {
  padding-top: 150px;
  padding-right: 50px;
}

/* hodiday style ends here  */
